.main-dialog{
    display: flex;
    position:fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(118, 120, 237, 0.32);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(7px);
}

.main-dialog-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background: white;
    padding: 50px;
    width: fit-content;
    text-align: center;
    width: 300px
}
.main-dialog-buttonbox{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.main-dialog-button-yes,
.main-dialog-button-no{
    background-color: rgba(127, 129, 229, 0.737);
    color: white;
    border-radius: 12px;
    margin: 7px;
    margin-bottom: 0%;
    padding: 7px;
    width: 67px;
    border: none;
    box-shadow: -2px 4px 7px rgba(127, 129, 229, 0.737);
}

.main-dialog-button-yes:hover,
.main-dialog-button-no:hover{
    background-color: rgba(118, 120, 237, 1);
}